h1 {
	margin-top: 100px;
	text-align: center;
	font-family: "Arial", Arial, sans-serif; 
	font-size: 40px;
}

h3 {
  	margin-top: 300px;
	text-align: center;
	font-family: 'Amatic SC'; 
}

body {
	height: 100%;
	background-image: linear-gradient(to bottom,gray,white);
	text-align: center;
	margin-right 500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p {
	text-align: center;
	font-family: "Arial", Arial, sans-serif; 
}
