h1 {
	margin-top: 100px;
	text-align: center;
	font-family: "Times New Roman", Times, serif; 
	font-size: 40px;
}

body {
	height: 100%;
	background-image: linear-gradient(to bottom,gray,white);
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	//margin-top: 200px; 
}




