h1 {
	margin-top: 100px;
	text-align: center;
	font-family: "Arial", Arial, sans-serif; 
	font-size: 40px;
}

h1:hover {
	cursor: pointer;
}

body {
	height: 100%;
	background-image: linear-gradient(from bottom,white,gray);
	text-align: center;
	margin-right 500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


a {
	text-decoration: none;
	font-family: "Arial", Arial, sans-serif; 
	color: black;
}
a:hover {
	color: white;
}

.medialinks {
	margin-top: 50px;
	text-align: center;
}

#linkedin {
	padding-left: 10px;
}

#github {
	
}
