body {
  font-family: Calibri, sans-serif;
}
* {
  box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.chat-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: midnightblue;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.3s;
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

/* Chat container. Hidden default*/
.chat-container {
  max-width: 450px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: 2px solid lightgray;
  box-shadow: 5px 5px 5px darkgray;
  z-index: 9;
}

/* Chat container iframe (actual chat window) */
#iframe1 {
  padding-bottom: 10px;
  margin: 10px;
  top: 0;
  bottom: 50;
  left: 0;
  right: 50;
  box-shadow: 5px 5px 5px lightgray;
}

/* Add some hover effects to buttons */
.chat-container .btn:hover, .chat-button:hover {
  opacity: 1;
}

/*Powered by message at the bottom of chat container*/
p.header {
  color: white;
  font-size: 18px;
}

.header-bar {
  margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px;
    text-align: left;
    background: #424242;
    color: white;
    font-size: 30px;
    z-index: 10;
}

.chat-container .footer {
  margin-left: 225px;
}


/* Minimize, Maximize, and Close buttons */

.buttons {
  position: absolute;
  background-color: grey;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
}

.min {
  right: -30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid darkgray;
}

 .max {
  right: -30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .close {
  right: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons div:hover {
  background-color: red;
  color:white;
  cursor: default;
}